.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.57px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

header {

}

.container {
    width: 420px;
    height: 714px;
    gap: 0px;
    opacity: 1;
    background: rgba(35, 5, 119, 1) url("images/ship.png") 420px 714px;
    max-width: 420px;
    max-height: 714px;
}

.header {
    
}

.logo {
  width: 259px;
  height: 48.13px;
  margin-top: 52px;
  margin-left: 80px;
}

.nav a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav {
  margin-left: 40px;
  text-transform: uppercase;
}

.menu-items {
  width: 265px;
  height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 43px;
  display: block;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.menu-items:nth-of-type(1) {
  margin-top: 82.87px;
}

.contacts-list {
font-size: 16px;
font-weight: 200;
line-height: 19.36px;
text-align: left;
text-underline-position: from-font;

}

.call-button {
  font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;
text-decoration: none;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
background-color: rgba(35, 5, 119, 0);
margin-left: 80px;
border-radius: 9px;
border: 1px solid #FFFFFF;
}

button {
  border: 1px;
  border-radius: 9px;
  border-color: #FFFFFF;
  
}

ul {
  list-style: none;
}